doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="main.css")
    script(src="main.js")
  body
    #menu
      .fluent-menu(data-role="fluentmenu")
        ul.tabs-holder(style="-webkit-app-region: drag")
          li.special(style="-webkit-app-region: no-drag"): a(href="#", onclick="showMetroCharm('#charm')") SeedsonTable
          li.active(style="-webkit-app-region: no-drag"): a(href="#menu-tab-home") ホーム
          li(style="-webkit-app-region: no-drag"): a(href="#menu-tab-manage") 管理
          li.place-right.bg-red(style="-webkit-app-region: no-drag")
            a.fg-white(href="#", onclick="window.close()"): span.mif-cross
          li.place-right.bg-blue(style="-webkit-app-region: no-drag")
            a.fg-white(href="#", onclick="var win = require('electron').remote.BrowserWindow.getFocusedWindow(); win.isMaximized() ? win.unmaximize() : win.maximize()"): span.mif-enlarge2
          li.place-right.bg-blue(style="-webkit-app-region: no-drag")
            a.fg-white(href="#", onclick="require('electron').remote.BrowserWindow.getFocusedWindow().minimize()"): span.mif-minus
        .tabs-content
          .tab-panel#menu-tab-home
            .tab-panel-group
              .tab-group-content
                .tab-content-segment
                  button.fluent-tool-button#command-undo
                    span.mif-undo
                  button.fluent-tool-button#command-redo
                    span.mif-redo
              .tab-group-caption 元に戻す
            .tab-panel-group
              .tab-group-content
                .tab-content-segment
                  button.fluent-big-button#command-save(data-hotkey="Ctrl+F1")
                    span.mif-floppy-disk
                    span.label 保存
                .tab-content-segment
                  button.fluent-button#command-open
                    span.mif-folder-open
                    span.label 開く
                  button.fluent-button#command-export-zip
                    span.mif-folder-download
                    span.label ZIPにして出力
                  button.fluent-button#command-export-xlsx
                    span.mif-file-excel
                    span.label Excelとして出力
              .tab-group-caption ファイル
            .tab-panel-group
              .tab-group-content
                .tab-content-segment
                  button.fluent-button#command-insert-row-above
                    span.mif-vertical-align-top
                    span.label 上に挿入
                  button.fluent-button#command-insert-row-below
                    span.mif-vertical-align-bottom
                    span.label 下に挿入
                  button.fluent-button#command-remove-row
                    span.mif-vertical-align-center
                    span.label 行を削除
              .tab-group-caption 行
            .tab-panel-group
              .tab-group-content
                .tab-content-segment
                  .input-control.text
                    input#command-search-input
                    button.button#command-search-button
                      span.mif-search
                  //button.fluent-button#command-search-option
                    span.mif-more-horiz
                    span.label 検索オプション
                //.tab-content-segment
                  button.fluent-big-button
                    span.mif-filter
                    span.label フィルタ
              .tab-group-caption 検索・フィルタ
            .tab-panel-group
              .tab-group-content
                .tab-content-segment
                  button.fluent-big-button#command-show-comment
                    span.mif-bubble
                    span.label コメント
                .tab-content-segment
                  button.fluent-big-button#command-remove-comment
                    span.mif-minus
                    span.label
                      | コメント
                      br
                      | を削除
              .tab-group-caption コメント
          .tab-panel#menu-tab-manage
            .tab-panel-group
              .tab-group-content
                .tab-content-segment
                  button.fluent-big-button#command-save-initial
                    span.mif-file-empty
                    span.label
                      | 新規
                      br
                      | ブック
              .tab-group-caption 新規
            .tab-panel-group
              .tab-group-content
                .tab-content-segment
                  button.fluent-big-button#command-dialog-new-sheet
                    span.mif-folder-plus
                    span.label
                      | 新規
                      br
                      | シート
              .tab-group-caption 現在のブック
    #sheets
    .tabcontrol2.tabs-bottom(data-role="tabcontrol")
      ul.tabs#tabs
        li: a(href="#") none
    #charm(data-role="charm", data-position="left")
      h1 SeedsonTable
      ul.sidebar.darcula
        li
          a(href="#", onclick="metroDialog.open('#dialog-about');hideMetroCharm('#charm')")
            span.mif-question.icon
            span.title このソフトウェアについて
        li
          a(href="#", onclick="window.close()")
            span.mif-cross.icon
            span.title SeedsonTableを終了
      span.charm-closer
    #dialog-new-sheet.dialog.padding20(data-role="dialog", data-overlay="true", data-overlay-color="op-dark", data-close-button="true")
      h1 新規シートを作成
      p 現在のブックに新規シートを追加します
      .align-center
        .input-control.text
          input#new-sheet-name
        button.button.primary#command-save-new-sheet 作成
        button.button(onclick="metroDialog.close('#dialog-new-sheet')") キャンセル
    #dialog-about.dialog.padding20(data-role="dialog", data-overlay="true", data-overlay-color="op-dark", data-overlay-click-close="true", data-close-button="true")
      h1 このソフトウェアについて
      p: a(href="#", onclick="require('electron').remote.shell.openExternal('https://github.com/seed-ui/SeedsonTable')") SeedsonTable
    // 重ね順を一番最後(上)にする
    #dialog-quit.dialog.padding20.alert(data-role="dialog", data-overlay="true", data-overlay-color="op-dark", data-close-button="true")
      h1 終了しますか?
      p 保存されていないデータは失われます
      .align-center
        button.button.primary#command-close-confirm 終了
        button.button(onclick="metroDialog.close('#dialog-quit')") キャンセル
