@import "../node_modules/metro-dist/css/metro.css";
@import "../node_modules/metro-dist/css/metro-icons.css";
@import "../node_modules/metro-dist/css/metro-schemes.css";
@import "../node_modules/pikaday/css/pikaday.css";
@import "../node_modules/handsontable/dist/handsontable.css";

* {
  text-transform: none !important;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#sheets {
  height: calc(100% - 10.6em - 2.6em);
  position: relative;
  z-index: 1;
}

.sheet {
  height: 100%;
  overflow: auto;
}

#menu {
  height: 10.6em;
  position: relative;
  z-index: 2;
}

.tabs {
  width: 100%;
  height: 2.5em;
  overflow: auto;
}
